
    
    @media (min-width: 1400x) and (max-width: 1600px) {
      
    }
    @media (min-width: 1200px) and (max-width: 1399px) {
      .textbox {
        width: calc(100% - 100px);
        min-width: 21%;
    }
    .textbox2 {
    
      width: calc(100% - 100px);
      min-width: 21%;
  }
  .Pendingbox h3 {
    padding-left: 5px;
    font-size: 17px;
}
.textpending p {
  padding-right: 7px;
  padding-top: 2px;
  font-size: 15px;
}
.nav-tabs .nav-link.custom-tab1 {
  width: 48%;
  margin-bottom: 15px;
  margin-top: 12px;
}
.nav-tabs .nav-link.custom-tab {
  font-size: 17px;
  padding: 6px 20px 6px 20px;
  min-width: 121px;
}
.pendingboxinner {
  padding: 19px;
}
.buttonbox2 {
  padding-left: 0px;
}
.buttonbox2 a {
  padding: 7px 7px 6px 11px;
  font-size: 11px;
  width: 91px;
}
.textbox2 h6 {
  margin-bottom: 5px;
  font-size: 14px;
}
.textbox h6 {
  font-size: 14px;
}
.ApprovedArtist h4 {
  padding-bottom: 15px;
}
.imgbox img {
  width: 40px;
  margin-right: 13px;
  height: 40px;
}

.buttonbox a {
  font-size: 9px;
}
button.dropdown-toggle.dropdown-custom {
  margin-right: 12px;
}
.rightbox h2 {
  font-size: 18px;
 
}
.personal-info h4 {
 
  font-size: 18px;
}
.custom-savebutton button {
  width: 18%; 
  padding: 10px 30px;
  margin-top: 25px;
  font-size: 16px;
  
}
.contactinfoleft h5 {
 
  font-size: 16px;
}
.mail-box p {
  font-size: 16px;
}
p.text-address {
  
  font-size: 16px;
}
.mystatusbtn [type="radio"]:checked + label, .mystatusbtn [type="radio"]:not(:checked) + label {
 font-size: 16px;
  }
  .custom-pending {
   font-size: 16px;
    margin-bottom: 24px;
    }
    .leftbox h3 {
      font-size: 20px;
  }
  h1.nodatafoundheading {
    font-size: 23px;
    }
    .gallerynodatafound h3 {
      font-size: 21px;
  }
  .contactinforight h5 {
   
    font-size: 16px;
}
.innerboxdata h6 {
  
  font-size: 16px;
  
}
span.custombookingheading {
  
  font-size: 13px;
}
.innerboxdata h5 {
  font-size: 14px;
  
}
span.custompriceheading {
  
  font-size: 14px;
}
.innerboxdata h3 {
  
  margin-bottom: 5px;
  
}
.headinginnerbox h5 {
  
  font-size: 14px;
}
.innerboxdata h6 {
  margin-top: 18px;
  
}
.imageboxinner img {
  
  width: 60px;
  height: 60px;
}
.headingtopcustmoreinfo {
  top: -22px;
  width: 84%;
 padding: 10px;
}
.headingtopcustmoreinfo h3 {
  font-size: 16px;
}
.innerinfotable h3 {
  font-size: 15px;
}
p.customnumberinfo {
  font-size: 15px;
 
}
.imagecirclebox img {
  width: 80px;
  height: 80px;
}
.imagecirclebox {
 
  margin-top: 10px;
}
.messagetext p {
  font-size: 16px;
}
.mainbookingheading h4 {
  
  font-size: 20px;
}
.flowchart svg {
  width: 118px;
}
#cont:after {
  left: 40%;
font-size: 24px;

}
.flowchart svg {
  margin-right: 39px;
}
    }
    @media (min-width: 992px) and (max-width: 1199px) {

        .buttonbox a {
        
            margin-left: 4px;
           
            padding: 1px;
        }
        .buttonbox {
          padding-top: 0px;
          padding-left: 3px;
      }
      .textbox p {
        font-size: 8px;
       
    }
    .textbox h6 {
      margin-bottom: 0px;
      font-size: 10px;
    }
    .imgbox img {
      width: 40px;
      margin-right: 8px;
     
    }
    .imgbox {
     
      padding-left: 17px;
      padding-bottom: 17px;
    }
    
 
        }

    

    @media (min-width: 768px) and (max-width: 991px) {

    }

    
    @media (min-width: 320px) and (max-width: 767px) {

        .toggle{
            display: block!important;
          }
          
          .sidemenubar.active {
            margin-left: 0px;
        }
        .maintop.active {
              
           padding-left: 0px;
         
        }
        .headertop.active {
          margin-left: 0px;
      }
         .headingbox h6 {
          margin-left: -35px;
         
          font-size: 10px;
      }
        .headingbox {
          padding-bottom: 0px;
      }
      .profilebox {
        margin-top: -24px;
        position: absolute;
        right: -95px;
    }
    .mainsectionbox {
      position: relative;
      padding: 0px;
  }
  .maintop.active .mainsectionbox:after {
    position: absolute;
    left: 0px;
    content: "";
    background: #00000078;
    height: 100%;
    top: 0px;
    width: 100%;
    z-index: 1;
}
  .textbox h6 {
    font-size: 13px;
    margin-top: 7px;
  }
  .buttonbox {
    padding-left: 20px;
    padding-top: 6px;
  }
  
  .buttonbox2 a {
    
    padding: 5px 10px 5px 10px;
   
    
    font-size: 9px;
    text-align: center;
  }
  .buttonbox2 {
    
    padding-left: 0px;
   
  }
  .textbox2 h6 {
    margin-bottom: 0px;
    font-size: 12px;
    margin-top: 10px;
  }
  .imgbox2 img {
    width: 37px;
   
  }
  .imgbox2 {
    
   
    padding-bottom: 20px;
  }
  span.number-custom {
    margin-right: 12px;
   
    width: 30px;
    height: 30px;
    
    padding-top: 4px;
    
    margin-top: 4px;
  }
  
  .Pendingbox h3 {
    padding-left: 15px;
    font-size: 19px;
    margin-top: 8px;
    
  }
  .Pendingbox {
    
    padding: 0px;
    
  }
  .sidemenubar {
    z-index: 9;
    margin-left: -280px;
}
  
.mainboxleft h2 {
    margin-top: 35px;
    margin-bottom: 10px;
}
  .textpending p {
    padding-right: 28px;
    font-size: 20px;
  }
  .pendingboxinner {
   
    padding: 7px;
}
.bank-innersection {
  margin-top: 40px;
  padding: 0px;
}
  .table-wrapper {
    
    padding: 8px 0px;
  
    }
    .tattotsylehed h4 {
      
      margin-top: 31px;
  }
  .form-group.custom-from {
    padding-bottom: 0px;
}
button.btn.btn-danger.custom-innerbutton {
  
  margin-bottom: 10px;
  padding: 7px;
}
.faqheading h4 {
  font-size: 16px;
  margin-top: 39px;
}
.mystatusbtn [type="radio"]:checked + label, .mystatusbtn [type="radio"]:not(:checked) + label {
  padding-left: 11px;
  font-size: 14px;
  padding-right: 32px;
}
.mainsectionbox.mainsectionbox-cus button.btn.btn-danger.custom-innerbutton {
  margin-top: 20px!important;
  padding: 8px;
  
}
.table-title-add h2 {
  font-size: 17px;
  padding: 13px 0px;
 
  margin-top: 36px;
}

select#select_user_type {
  
  font-size: 14px;
  
  }
  .custom-control-lg {
    
    font-size: 14px;
}

table.table.table-striped.table-hover.dataTable td {
  font-size: 12px;
  font-weight: 400;
}
table.dataTable thead>tr>th {
 
  font-size: 11px;
}
.table-title h2 {
 
  font-size: 18px;
}
.table-title {
  
  margin-top: 0px;
}
main {
  margin-left: 0px;
  padding-top: 35px;
}
header {
  margin-left: 107px;
  width: calc(100% - 0px - 205px);
}
.nav-tabs .nav-link.custom-tab {
  min-width: 152px;
  margin-bottom: 8px;
  font-size: 15px;
}

.textbox2 {
  word-break: break-all;
}
.leftbox h3 {
 
  font-size: 20px;
  padding-bottom: 15px;
}
p.text-address {
  
  font-size: 14px;
}
.mail-box p {
  font-size: 14px;
}
.mail-box {
  
  padding-top: 13px;
}
.custom-savebutton button {
  min-width: 92px;
  padding: 5px 30px;
 
  font-size: 14px;
  
  margin-top: 10px;
}
.custom-control {
  
  font-size: 14px;
  
}
.personal-info h4 {
 
  font-size: 16px;
}
.rightbox h2 {
  font-size: 16px;
  
}
.contactinforight {
  
  margin-top: 0px;
}
.contactinfoleft {
  margin-bottom: 0px;
  margin-top: 0px;
}
.contactinfoleft h5 {
  
  font-size: 16px;
}
.contactinforight h5 {
 
  font-size: 16px;
}
.rightbox {
  
  margin-top: 25px;
  margin-bottom: 15px;
}
.custom-pending {
  margin-bottom: 0px;
    margin-top: 0px;
  width: 35%;
  padding: 5px 20px;
 
  font-size: 14px;
  
}
.mystatusbtn [type="radio"]:checked + label:before, .mystatusbtn [type="radio"]:not(:checked) + label:before {
  
  left: -10px;
  top: 0px;
  width: 18px;
  height: 18px;
  
}
.mystatusbtn [type="radio"]:checked + label:after, .mystatusbtn [type="radio"]:not(:checked) + label:after {
 
  width: 10px;
  height: 10px;
  
  top: 4px;
  left: -6px;
  
}
.custom-buttonbox {
  margin-left: 22px;
  margin-bottom: 16px;
}
.table-innerdata {
  
  padding: 0px;
}
.totolEarning {
  padding-top: 21px;
  padding-bottom: 0px;
}
.nav-tabs .nav-link.custom-tab1 {
  
  font-size: 16px;
  
}
button.dropdown-toggle.dropdown-custom {
  margin-right: 10px;
}
h1.nodatafoundheading {
 
  font-size: 20px;
}
.maintoplinkbutton {
  margin-left: 5%;
}
.maintabsright {
 
  margin-left: 1%;
}
.table-title-add .row {
  margin: 0px;
}
.customtableinnerbox {
  padding: 15px;
}
}
.table-wrapper {
  overflow: auto;
}
/* .headinginnerbox h5 {
  
  font-size: 14px;
}
.heading-section {
  margin-top: 40px;
}
.imageboxinner img {
 
  width: 60px;
  height: 60px;
}
.innerboxdata h3 {
  font-size: 14px;
  
}
span.custombookingheading {
 
  font-size: 14px;
}
.innerboxdata h6 {
  
  font-size: 16px;
 
}
.viewmorebutton a {
  font-size: 16px;
}
.headingtopcustmoreinfo {
  
  width: 78%;
  
}
.headingtopcustmoreinfo h3 {
  font-size: 14px;
}
.headingtopcustmoreinfo {
  top: -23px;
  width: 78%;
  padding: 12px;
}
.mainbookingheading h4 {
 font-size: 18px;
  margin-top: 15px;
}
.imagecirclebox img {
 width: 80px;
height: 80px;
}
.imagecirclebox h5 {
  font-size: 17px;
}
.messagetext p {
  font-size: 15px;
}
.innerinfotable h3 {
  font-size: 14px;
}
p.customnumberinfo {
  font-size: 14px;
  
}
.messagetext p i {
  margin-left: 5px;
  margin-right: 9px;
}
.custmoreinfoleftbox {
  margin-bottom: 45px;
}
.imagecirclebox {
 
  margin-top: 10px;
}
.headinginnerbox {
margin-bottom: 0px;
  width: 80%;
  margin-left: 38px;
}
.innerboxdata {
 margin-top: 20px;
 } */